/********************
*Global Rules
********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #32495b;
}
body{
    min-width: 1200px;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}
.button{
    padding: 10px;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a;
    text-decoration: none;
}
.filled{
    background-color: #fe775a;
    color: #fffbfa;
}
.unstyled{
    list-style-type: none;
}

/********************
*Header rules
********************/

/* First nav bar rules */

.first.navbar{
    color: #32495b;
    background-color: #f4f9fd;
    border-bottom: 1px solid #465b6b;
}
.first.navbar li{
    padding: 30px 0;
}
#language, #contact{
    float: left;
}
#glass, #login, #getfree{
    float: right;   
}
#contact{
    margin-left: 20px;
}
#globe{
    width: 16px;
    height: 16px;
    filter: brightness(0);
}
#language::after{
    content: '|';
    margin-left: 20px;
}
#language > a, #contact > a{
    color: #32495b;
    text-decoration: none;
}
#login{
    margin: 0 25px;
}
#glass img{
    width: 15px;
}

/* Second nav bar rules */  

.second.navbar li:not(#logo){
    padding: 25px 0;
    margin-left: 30px;
}
.second.navbar a{
    text-decoration: none;
    color: #32495b;
}
#logo{
    float: left;
    padding: 25px 0;
}
#secondnav_1, #secondnav_2, #secondnav_3, #secondnav_4, #secondnav_5{
    float: right;
}

/* Jumbotron rules */

.jumbotron{
    height: 650px;
    background-color: #fff2ee;
    background-position-y: -85%;
    background-position-x: 130%;
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
}
.separator{
    height: 80px;
    border-top: 4px solid #33475b;
    border-bottom: 4px solid #33475b;
    background-color: #afebe4;
}
#jumbo_information{
    width: 50%;
    padding-top: 50px;
}
#jumbo_title{
    font-size: 45px;
}
#jumbo_description{
    margin: 35px 0;
    line-height: 200%;
}
#jumbo_information > a{
    display: inline-block;
    padding: 25px 40px;
}
#jumbo_subtitle{
    margin-top: 40px;
    font-size: 13px;
}