/********************
*Global Rules
********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #32495b;
    font-weight: 500;
}

body{
    min-width: 1560px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.button{
    padding: 10px;
    border: 1px solid #fe775a;
    border-radius: 7px;
    color: #fe775a;
    text-decoration: none;
}

.filled{
    background-color: #fe775a;
    color: #fffbfa;
}

.unstyled{
    list-style-type: none;
}

.fas.fa-angle-down{
    margin-left: 5px;
}

.line{
    display: inline-block;
    background-color: #32495b;
    height: 1px;
    width: 300px;
}

.checkbox{
    display: inline-block;
    margin: 0 15px;
    background-color: #fe775a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    text-align: center;
}

/********************
*Header rules
********************/

/* First nav bar rules */

nav.first{
    color: #32495b;
    background-color: #f4f9fd;
    border-bottom: 1px solid #465b6b;
}

nav.first li{
    padding: 30px 0;
}

#language, #contact{
    float: left;
}

#glass, #login, #getfree{
    float: right;   
}

#contact{
    margin-left: 20px;
}

#globe{
    width: 16px;
    height: 16px;
    filter: brightness(0);
}

#language::after{
    content: '|';
    margin-left: 20px;
}

#language > a, #contact > a{
    color: #32495b;
    text-decoration: none;
}

#login{
    margin: 0 25px;
}

#glass img{
    width: 15px;
}

/* Second nav bar rules */  

nav.second li:not(#logo){
    padding: 25px 0;
    margin-left: 30px;
}

nav.second a{
    text-decoration: none;
    color: #32495b;
}

#logo{
    float: left;
    padding: 25px 0;
}

#secondnav_1, #secondnav_2, #secondnav_3, #secondnav_4, #secondnav_5{
    float: right;
}

/* Jumbotron rules */

.jumbotron{
    height: 650px;
    background-color: #fff2ee;
    background-position-y: -85%;
    background-position-x: 130%;
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
}

.separator{
    height: 80px;
    border-top: 4px solid #33475b;
    border-bottom: 4px solid #33475b;
    background-color: #afebe4;
}

#jumbo_information{
    width: 50%;
    padding-top: 50px;
}

#jumbo_title{
    font-size: 45px;
    font-weight: bold;
}

#jumbo_description{
    margin: 35px 0;
    line-height: 200%;
}

#jumbo_information > a{
    display: inline-block;
    padding: 25px 40px;
}

#jumbo_subtitle{
    margin-top: 40px;
    font-size: 13px;
}

/********************
*Main rules
********************/

/* First section rules */

section.first{
    background-color: #f4f9fd;
    text-align: center;
}

#cube{
    margin-top: 50px;
    height: 200px;
}

section.first > div > h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

section.first > div > p{
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
}

.product{
    box-shadow: 1px 1px 20px 0px lightgrey;
    background-color: white;
}

.first.product{
    margin: 50px 0;
}

.first.product > *{
    float: left;
}

.first.product > .left_column{
    width: 30%;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
}

.first.product > .right_column{
    width: 70%;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 40px;
    text-align: initial;
}

.product_image{
    height: 100px;
}

.product_title{
    font-weight: bold;
    font-size: 25px;
}

.product_button{
    padding: 25px 40px;
    display: inline-block;
    margin-top: 30px;
}

.product_description{
    height: 160px; /* Unsure if it should be a fixed height, but it makes all the products have equal height */
    line-height: 30px;
}

.first.product .product_description{
    margin: 30px 0;
    line-height: 30px;
}

.feature{
    font-weight: 600;
    font-size: 20px;
}

.first.product > .right_column > .line{
    margin-left: 60px;
    width: 50%;
}

.right_column > .pro{
    margin: 40px 0;
}

.second.product, .third.product, .fourth.product{
    width: calc(89%/3);
    float: left;
    padding: 0 40px;
}

.third.product{
    margin: 0 60px;
}

section.first .row{
    margin: 50px 0;
}

.row img{
    margin: 20px 0;
}

.row .product_title{
    margin-bottom: 40px;
}

.row .line{
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
}

.row .pro{
    text-align: initial;
}

.row .feature{
    margin-bottom: 30px;
}

.row .product_button{
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Second section rules */

section.second{
    height: 800px; /* Will remove once styling is finished */
    background-color: #02a7ba;
    text-align: center;
}

section.second > .container *{
    color: white;
}

section.second h1{
    padding-top: 55px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

section.second .first.row{
    margin-top: 50px;
}

/* section.second .second.row{
    padding
} */

section.second .box{
    float: left;
    height: 200px;
    width: calc(100%/4);
    /* background-color: white; */
    border-right: 1px solid white;
}

section.second .box:last-child{
    border-right: 0;
}

section.second hr{
    color: white;
}